@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.header-brand {
    font-family:'Dancing Script';
}

.header-large {
    margin-top:10px;
    font-size: 80px;
    font-family:'Dancing Script'
}

.header {
    margin-top:10px;
    font-size: 50px;
    font-family:'Dancing Script'
}
