.chocolate-background {
  display:relative;
}

.hover-link:hover {
  color:teal;
  background-color:teal
}

.about-page {
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-top: 1%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 1%;
}

.page-center {
  position:absolute;
  top:50%;
  left:50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family:'Dancing Script', cursive;
  font-size: 150px;
  font-weight:700;
  text-shadow: 0 0 3px #fff;
  color:teal
}

.fade-in {
  animation: fadeIn 7s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}